@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Roboto:wght@300&display=swap');

:root{
    --principal-bg-color: #054B43;
    --secundario-bg-color: #00796B;
    --fondo-bg-color: #4D4F51;
    --letra-links-color: #fff;
}

.imagen-logoPA img{
    width: 200px;
    margin-left: 100px;
    margin-top: 10px;
}


.container-formulario-PA{
    z-index: 100;
    width: 350px;
    margin: auto;
    margin-top: 0px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.566);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.container-formulario-PA h2{
    text-align: center;
    margin-top:10px;
    z-index: 99;
    margin-bottom:17.5px;
    color: var(--letra-links-color);
}

.container-formulario-PA form button{
    background-color: var(--principal-bg-color);
    border: 0;
    border-radius: 5px;
    color: var(--letra-links-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    margin-left: 75px;
}