@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Roboto:wght@300&display=swap%27');

:root{
    --principal-bg-color: #00796B;
    --secundario-bg-color: #054B43;
    --fondo-bg-color: #4D4F51;
    --fondo-secundario-bg-color: rgba(0, 0, 0, 0.566);
}

*{
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-color: var(--fondo-bg-color);
}

.container-principal{
    display: flex;
    margin:auto;
    width:90%;
    gap: 20px;
    margin-top: 50px;   
}

@media (max-width:850px){
    .container-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;  
        
    }
}