@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Roboto:wght@300&display=swap');

:root{
    --principal-bg-color: #054B43;
    --secundario-bg-color: #00796B;
    --fondo-bg-color: #4D4F51;
    --letra-links-color: #fff;
}

.filtro-container{
    z-index: 100;
    display: none;
    width: 300px;
    height: 80px;
    position: absolute;
    right: 0;
    border-radius: 5px 0 5px 5px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    background-color:rgba(0, 0, 0, 0.8);
}

@media (max-width: 1200px) {
    .filtro-container{
        display: block;
    }
}





