@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Roboto:wght@300&display=swap');


:root{
    --principal-bg-color: #054B43;
    --secundario-bg-color: #00796B;
    --fondo-bg-color: #4D4F51;
    --letra-links-color: #fff;
}

.turno-itemHC{
    align-items: center;
    width: 98.5%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--letra-links-color);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.turno-itemHC button{
    width:120px;
    height: 25px;
    margin-top: -0.7px;
    border: 0;
    margin-right: 0;
    padding: 2.5px;
    background-color: var(--principal-bg-color);
    border-radius: 5px;
    color: var(--letra-links-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

@media (max-width: 550px) {
    .turno-itemHC{
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 30px);
        height: 60px;
    }

    .turno-itemHC h4{
        margin-top: 0px;
    }
    .turno-itemHC button{
        margin-top: 0px;
        width: 250px;
        margin: auto;
    }
}


@media (min-width: 551px) and (max-width: 650px) {
    .turno-itemHC{
        display: grid;
        width: 95%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 30px);
        height: 60px;
    }

    .turno-itemHC h4{
        margin-top: 0px;
    }
    .turno-itemHC button{
        margin-top: 0px;
        width: 250px;
        margin: auto;
    }
}

@media (min-width:651px) and (max-width: 750px) {
    .turno-itemHC{
        display: grid;
        width: 95%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 30px);
        height: 60px;
    }

    .turno-itemHC h4{
        margin-top: 0px;
    }
    .turno-itemHC button{
        margin-top: 0px;
        width: 350px;
        margin: auto;
    }
}