@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Roboto:wght@300&display=swap%27');

:root{
    --principal-bg-color: #054B43;
    --secundario-bg-color: #00796B;
    --fondo-bg-color: #4D4F51;
    --letra-links-color: #fff;
}
.container-news{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 20px;
    flex-direction: column;

}

body{
    background-color: var(--fondo-bg-color);
}

*{
    font-family: 'Roboto', sans-serif;
    
}

.container-news .card-news{
    background-color: #ffff;
    height: 40%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-top: 13px;
}

.container-news .card-news .text-container{
    margin-top: 10px;
    display: grid;
    grid-template-rows: 0.5fr 1.5fr 0.5fr;
}

.container-news .card-news:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    opacity: 0.96;
    cursor: pointer;
}

.container-news .card-news img{
    width: 100%;    
    height: 95%;
    margin: 2px;
    display: flex;
    align-self: center;
    border-radius: 8px;
    object-fit: cover;
    
}

.container-news .card-news .boton button{
    border: 0;
    background-color: var(--principal-bg-color);
    color: #ffff;
    margin-top: auto;
    font-size: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2   );
    border-radius: 8px;   
    width: 18%;
    font-weight: 500;
    height: 28px;
    align-items: end;
    
}

.container-news .card-news .boton{
    display: flex;
    margin-bottom: 8px;
    margin-right: 8px;
    justify-content: flex-end ;
    
}

.container-news .card-news button:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    opacity: 0.96;
    cursor: pointer;
    

}

.container-news .card-news .text-container p{
    text-align: justify;
    margin-right: 15px;
}


@media (max-width:900px){
    .container-news{
        display: flex;
        width: 90%;   
        flex-direction: column;
    }
    .container-news .card-news {
        display: flex;
        flex-direction: column;
        
    }

    .container-news .card-news img{
        width: 90%;
        margin-top: 10px;
    }

    .container-news .card-news .text-container {
        width: 95%;
        text-align : center;
        align-self: center;
        display: flex;
        flex-direction: column;
    }

    .container-news .card-news .boton button{
        align-self: center;
        width: 95%;
        margin-bottom: 10px;
    }

}